
/********************************************
Tag Resets
********************************************/

body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
pre,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #000000;
    text-decoration: none;
    font-weight: normal;
}

#background {
  background-image: url("./images/twinklesky.gif");
}

/*---CLEARFIX---*/
.group:after {
  content: "";
  display: table;
  clear: both;
}

/*===========MAIN-BAR==============*/

#main-strip {
  background-color: rgba(150, 150, 150, 0.50);
  margin-top: 5%;
  width: 20%;
  min-height: 175px;
  color: black;
  font-size: 16px;
}

#night-savers-logo {
  margin: 0 auto;
}

.title-line {
  border: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5);
}

#music, #code {
  display: none;
}

.main-section {
  overflow: hidden;
  padding: 16px;
}

#main {
  text-align: center;
  min-width: 250px;
}

.cover {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

.section-title {
  font-size: 40px;
  margin-top: 10%;
  margin-bottom: 10%;

}

.music, .code, .games {
  flex-shrink: 2;
}

h2 {
  text-align: center;
  margin-top: 4px;
  margin-bottom: 8px;
}

.music-entry {
  margin-bottom: 12px;
}

.music-entry img {
  float: left;
  margin-right: 8px;
}


.title {
  margin-top: 2%;
}

.font-ntr {
  font-family: 'NTR', sans-serif;
}
